nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    margin-top: 10rem;

   
}
h1{
    font-size: 2rem;
}
.theme{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



.theme .sun{
    font-size: 1.5rem;
    cursor: pointer;
    
   
}

.moon{
    font-size: 1.5rem;
    cursor: pointer;
}